.row {
	display: flex;
	flex-direction: row;
}

.Calculator {
	margin-top: 5vh;
	margin-left: 40vw;
	background-image: url("iphone.png");
	background-size: 325px;
	background-repeat: no-repeat;
	width: 325px;
	height: 95vh;
	padding-bottom: 0;
	margin-bottom: 0;
}

.innerElements {
	padding-top: 80px;
	padding-left: 50px;
}
