.row {
	display: flex;
	flex-direction: row;
}

.Calculator {
	margin-top: 5vh;
	margin-left: 40vw;
	background-image: url("iphone.png");
	background-size: 425px;
	background-repeat: no-repeat;
	width: 425px;
	height: 786px;
}

.innerElements {
	padding-top: 80px;
	padding-left: 70px;
}
