@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400&display=swap');


body {
	background-image: linear-gradient(#a1c4fd, #c2e9fb);
	background-repeat: no-repeat;
  	background-size: 100vw 101vh;
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


