@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400&display=swap');

.Output {
	width: 230px;
	margin-bottom: 50px;

}

h1 {
	text-align: right;
	padding-right: 10px;
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	/* font-size: 35px; */
}